<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <!-- Aktualności !-->
      <a class="navbar-item">
        Aktualności
      </a>

      <!-- Starsze informacje !-->
      <a class="navbar-item" href="http://www.fala.ropczyce.info/Oklubie.php" target="_blank">
        Starsze informacje
      </a>

      <!-- Galeria !-->
      <a class="navbar-item" href="http://www.fala.ropczyce.info/galeria.php" target="_blank">
        Galeria
      </a>

      <!-- O klubie !-->
       <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          O klubie
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="http://www.fala.ropczyce.info/Oklubie.php" target="_blank">
           O klubie
          </a>
          <a class="navbar-item" href="http://www.fala.ropczyce.info/Osiagniecia.php" target="_blank">
            Osiągnięcia
          </a>
           <a class="navbar-item" href="http://www.fala.ropczyce.info/rekordy.php" target="_blank">
            Rekordy klubu
          </a>
           <a class="navbar-item" href="http://www.fala.ropczyce.info/Nauka.php" target="_blank">
            Nauka pływania
          </a>
           <a class="navbar-item" href="http://www.fala.ropczyce.info/Rozklad.php" target="_blank">
            Rozkład zajęć
          </a>
           <a class="navbar-item" href="http://www.fala.ropczyce.info/Pliki_do_pobrania.php" target="_blank">
          </a>
        </div>
      </div>

      <!-- Zawody !-->
       <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
         Zawody
        </a>

        <div class="navbar-dropdown">
           <a class="navbar-item" href="http://www.fala.ropczyce.info/Komunikaty.php" target="_blank">
            Zawody-komunikaty
          </a>
           <a class="navbar-item" href="http://www.fala.ropczyce.info/Zawody.php" target="_blank">
             Zawody jubileuszowe
          </a>
        </div>
      </div>

      <!-- Kontakt !-->
       <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
         Kontakt
        </a>

        <div class="navbar-dropdown">
           <a class="navbar-item" href="http://www.fala.ropczyce.info/Kontakt.php" target="_blank">
             Kontakt
          </a>
           <a class="navbar-item" href="http://www.fala.ropczyce.info/Formularz.php" target="_blank">
             Formularz kontaktowy
          </a>
          <a class="navbar-item" href="http://www.fala.ropczyce.info/Linki.php" target="_blank">
             Linki
          </a>
        </div>
      </div>

      </div>


    {% if request.user.is_authenticated %}
    <div class="navbar-end">

      <div class="navbar-item">



      <div class="navbar-item has-dropdown is-hoverable">
        <button class="button is-primary">
          Zarządzaj stroną
        </button>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="/admin/posts/post/add/">
            Utwórz posta
          </a>
          <a class="navbar-item" href="/admin/posts/post/">
            Zarządzaj postami
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/admin/logout">
            Wyloguj się
          </a>
        </div>
      </div>

      {% else %}
      <div class="navbar-item">
        <div class="buttons">

          <a class="button is-primary" href="{% url 'admin:index' %}">
            Zaloguj się
          </a>

        </div>
      </div>
        {% endif %}
    </div>
  </div>
  </div>
</nav>

  <script>
  document.addEventListener('DOMContentLoaded', () => {

  // Get all "navbar-burger" elements
  const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {

        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');

      });
    });
  }

});
</script>
